.list-item {
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  background-color: var(--color-white);
}

.list-item-content {
  border-radius: var(--border-radius);
  min-height: inherit;
  padding: 10px;
}
