.list-item {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: stretch;
  height: 50px;
  border-bottom: 1px solid var(--background-color);
}

.list-item-content {
  flex-grow: 1;
  border-radius: var(--border-radius);
  padding: 10px;
}
